name: string_clean_utils
description: Dart library to remove/replace diacritics, accents, symbols & confusables from text
version: 1.0.2
homepage:

environment:
  sdk: ">=3.1.4 <4.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
